h3 {
    color: yellow;
    background-color-color: white;
    border: 1px solid greenyellow;
    border-radius: 25px;

}
h1 {
    color: greenyellow;

}
body {
    background-color: grey;
}
.song {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}